@using TMDbLib.Objects.Movies
@model cloudscribe.Pagination.Models.PagedResult<Movie>
@{
    ViewData["Title"] = "SearchMovie";
    ViewData["Controller"] = "Movie";
    ViewData["Action"] = "SearchMovie";
    <link rel="stylesheet" href="~/css/searchmovie.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
}


<div class="searchmovie">

    <div class="searchresults">
        <h3>RESULTS FOR : <span>@ViewData["Query"]</span></h3>
        <div class="resultTotal">
            <h4><span class="resultTotalColour">@Model.TotalItems</span> RESULTS</h4>
        </div>
    </div>

    <div class="row">
        @foreach (var product in Model.Data)
        {
            <div class="col-sm-5 col-md-3 col-lg-2dot4">
                <a class="imagehover" href="@Url.Action("MovieDetails","Movie", new { movieId = @product.Id })">
                    <img src="@product.PosterPath" />
                </a>
                
                <h5>@product.Title</h5>

            </div>
        }

    </div>
    <partial name="_PaginationPartial" model="Model" />
</div>
















